.dynamicTile .col-sm-2.col-xs-4{
    padding:5px;
}

.dynamicTile .col-sm-4.col-xs-8{
    padding:5px;
}

.tile{
    cursor:pointer;
}

.tilecaption{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    margin:0!important;
    text-align: center;
    color:white;
    font-family: Segoe UI;
    font-weight: lighter;
}

.item img{
    width:100%;
}

.play-tile{
  width:100% !important;
}

.play-tile a:hover{
  text-decoration:none;
}

.play-tile .play-btn{
  background-color:rgb(62,157,215);
  transition-duration: 1s;
}

.play-tile:hover .play-btn{
  background-color:rgb(0,142,0);
  transition-duration: 1s;
}


.play-btn:hover{
  color:red;
}

.tile-selected{
    background-color:rgb(0,142,0) !important;
    background: url('/img/checked.png');
    background-repeat: no-repeat;
}
