html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0 !important;
    width: 100%;
    padding:0;
    background-color: #f5f5f5;
}

.container p {
    margin: 20px 0;
}

.s-btn{
    width:90%;
    margin-left:5%;
    margin-right:5%;
}
.fa{
    margin-right:5px;
}

.custom-alert{
    position:absolute;
    z-index: 999;
    width: 100%;
    top:70px;
}

.hidden{
    display: none;
}

/**
* navbar profile thingy
**/

#profile{

}

#profile-img{
    display:block;
}

#profile-img img{
    display:inline-block;
    height:60px;
}

/**
*game styles
**/

.player {
    padding:0;
    -webkit-box-shadow: 3px 3px 3px #777;
    -moz-box-shadow: 3px 3px 3px #777;
    box-shadow: 3px 3px 3px #777;
}

#player1{
    background-color:#67abdc;
    border: 10px solid #67abdc;
    border-bottom: 10px solid #67abdc;
}

#player2{
    background-color:#e54545;
    border: 10px solid #e54545;
    border-bottom: 10px solid #e54545;
}

.player img{
    max-width:100%;
}

.player p {
    text-align: center;
    width: 100%;
    color: #e8edf1;
    text-shadow: 0 0 2px #000;
    font-weight: bold;
}

#gameContainer{
    background-color:#eeeeee;
    border: 10px solid #eeeeee;
    border-bottom: 0;
    -webkit-box-shadow: 3px 3px 3px #777;
    -moz-box-shadow: 3px 3px 3px #777;
    box-shadow: 3px 3px 3px #777;
}

#game{
    height:500px;
}

.spinner{/*TODO fix spinner,make it centered*/
    margin-left: auto;
    margin-right: auto;
}


.progress{
    display: none;
}