html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}
.container p {
    margin: 20px 0;
}

.s-btn{
    width:90%;
    margin-left:5%;
    margin-right:5%;
}
.fa{
    margin-right:5px;
}

.custom-alert{
    position:absolute;
    top:70px;
    display:none;
    width:100%;
}

.footer{
    padding: 40px 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: 1px solid #e5e5e5;
}

/**
* navbar profile thingy
**/

#profile{

}

#profile-img{
    display:block;
}

#profile-img img{
    display:inline-block;
    height:60px;
}

/**
*game styles
**/

.player {
    padding:0;
    -webkit-box-shadow: 3px 3px 3px #777;
    -moz-box-shadow: 3px 3px 3px #777;
    box-shadow: 3px 3px 3px #777;
}

#player1{
    background-color:#67abdc;
    border: 10px solid #67abdc;
    border-bottom: 10px solid #67abdc;
}

#player2{
    background-color:#f87a54;
    border: 10px solid #f87a54;
    border-bottom: 10px solid #f87a54;
}

.player img{
    max-width:100%;
}

.player p {
    text-align: center;
    width: 100%;
    color: #666666;
}

#gameContainer{
    background-color:#eeeeee;
    border: 10px solid #eeeeee;
    border-bottom: 0;
    -webkit-box-shadow: 3px 3px 3px #777;
    -moz-box-shadow: 3px 3px 3px #777;
    box-shadow: 3px 3px 3px #777;
}

#game{
    height:500px;
}
